[submodule "CDVBrowser"]
    path = /ios/cordova-iosx/Plugins/CDVBrowser
    url = https://github.com/RandyMcMillan/CDVBrowser.git
[submodule "CDVOSXBrowser"]
	path = /osx/cordova-osx/PLugins/CDVOSXBrowser
	url = https://github.com/RandyMcMillan/CDVOSXBrowser.git
